{% extends 'layouts/common.twig' %}

{% do this.setPageTitle('Помоги Прохору') %}

{% block content %}
	<div class="content">
	<div class="grey-box helping">
		{#{{ earningAmount }}#}
		<h1>На лечение Проши требуется собрать еще<br>
			<span><i>{{ App.numberFormatter.format('#,##0', needAmount - earnedAmount) }}</i> {{ Yii.t('app', 'рубль|рубля|рублей', needAmount - earnedAmount) }}</span> из {{ App.numberFormatter.format('#,##0', needAmount) }} {{ Yii.t('app', 'рубль|рубля|рублей', needAmount) }}</h1>

		<p>Сумма ориентировочная. Мы надеемся, что Проша пойдет на поправку, и сумма если и будет меняться, то в меньшую
			сторону.</p>
		<ul class="collapse collapse_2-col">
			<li class="collapse-item">
				<a class="collapse-link" href="#">Информация по поступлениям средств</a>

				<div class="collapse-content">
					<ul>
						{% for earning in currentMonthEarnings %}
							<li>за {{ App.dateFormatter.format('d MMMM', earning.date)|lower }} собрано
								<b>{{ App.numberFormatter.format('#,##0', earning.amount) }}</b> {{ Yii.t('app', 'рубль|рубля|рублей', earning.amount) }}
							</li>
						{% endfor %}
						{% for earning in earningsGroupedByMonth %}
							<li>за {{ App.dateFormatter.format('LLLL', earning.date)|lower }} собрано
								<b>{{ App.numberFormatter.format('#,##0', earning.amount) }}</b> {{ Yii.t('app', 'рубль|рубля|рублей', earning.amount) }}
							</li>
						{% endfor %}
					</ul>
					<p>Всего собрано {{ App.numberFormatter.format('#,##0', earnedAmount) }} {{ Yii.t('app', 'рубль|рубля|рублей', earnedAmount) }}.
						Подробные отчеты можно посмотреть <a href="http://vk.com/topic-48667147_27641757" target="_blank">в группе Вконтакте</a></p>
				</div>
			</li>
		</ul>
	</div>
	<h2>Как помочь?</h2>

	<div class="grid bank-info">
		<div class="grid__cell-1-to-2">
			<div class="border-box">
				<h3>Сбербанк</h3>

				<p>Номер карты: 4276&thinsp;8500&thinsp;2015&thinsp;0626,<br>
					Писачев Максим Александрович</p>
			</div>
			<div class="border-box">
				<h3>Альфа-банк</h3>

				<p>ОАО «Альфа-банк»<br>
					Счет 40817810808600014643,<br>
					к/сч 30101810200000000593 в ОПЕРУ Московского ГТУ Цб РФ,<br>
					БИК 044525593, ИНН 7728168971<br>
					Писачев Максим Александрович.</p>
			</div>
			<div class="border-box">
				<h3>KOREA EXCHANGE BANK<br>(для перевода из-за границы)</h3>

				<p>Bank name: KOREA EXCHANGE BANK, SHINCHON BRANCH<br>
					Swift code: KOEXKRSE<br>
					Bank address: 121-806 NOGOSAN-DONG MAPO-GU SEOUL KOREA 107-1<br>
					Bank tel: 02)718-2281<br>
					Beneficiary name: PISACHEV MAKSIM<br>
					Beneficiary A/C: 650-008836-166 (долларовый счет)<br>
					620-218719-796 (счет в воннах)<br>
					Beneficiary address: Seoul, Sodeamoon-Gu, Changchon-Dong 53,#60</p>
			</div>
		</div>
		<div class="grid__cell-1-to-2">
			{{ include('common/qiwi-form.twig') }}

			<iframe style="margin-bottom: 15px;" frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/donate.xml?uid=410011747580674&amp;default-sum=500&amp;targets=%D0%91%D0%BB%D0%B0%D0%B3%D0%BE%D1%82%D0%B2%D0%BE%D1%80%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F+%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D1%8C+%D0%9F%D1%80%D0%BE%D1%88%D0%B5+%D0%9F%D0%B8%D1%81%D0%B0%D1%87%D0%B5%D0%B2%D1%83+(%E2%84%96+%D1%81%D1%87%D0%B5%D1%82%D0%B0%3A+410011747580674)&amp;target-visibility=on&amp;project-name=&amp;project-site=&amp;button-text=03&amp;hint=" width="450" height="120"></iframe>

			<div class="border-box">
				<h3>Номера телефонов Билайн</h3>

				<p>8&thinsp;967&thinsp;957-14-64<br>
					8&thinsp;967&thinsp;957-14-65<br>
					8&thinsp;967&thinsp;957-14-66<br>
					8&thinsp;967&thinsp;957-14-67
				</p>

				<p class="gray-color">На данные номера возможно перечислить деньги так&nbsp;же, как вы&nbsp;это делаете,
					пополняя
					баланс своего мобильного счета. Оплату можно провести через терминал, у&nbsp;мобильных стоек, в&nbsp;отделениях
					«Билайн» и&nbsp;там, где&nbsp;принимают платежи «Билайна». Эти&nbsp;деньги выводятся через банк&nbsp;наличными.</p>
			</div>
		</div>
	</div>
	<div class="banks">
		<h2>Копилки <span>(адреса)</span></h2>
		<ul class="collapse collapse_2-col">
			<li class="collapse-item">
				<a class="collapse-link" href="#">Владивосток</a>

				<div class="collapse-content">
					<ul>
						<li>ул.&nbsp;Бородинская 46/50 пав. &#8470;&nbsp;55&nbsp;(ТЦ&nbsp;«Виктория», <span
									class="nowrap">Стафф-маркет</span>)
						</li>
						<li>Храм Андрея Первозванного (на&nbsp;подводной&nbsp;лодке)</li>
						<li>Успенский Храм&nbsp;(на&nbsp;Лазо)</li>
						<li>ул.&nbsp;Карбышева д. 20, магазин&nbsp;автозапчастей</li>
						<li>ул.&nbsp;Ильичева д. 4, поликлиника&nbsp;«Аленка»</li>
						<li>ул.&nbsp;Некрасовская д. 90, поликлиника&nbsp;«Аленка»</li>
						<li>ул.&nbsp;Кузнецова, д. 70, поликлиника&nbsp;«Аленка»</li>
						<li>ул.&nbsp;Бородинская, д. 46, ТЦ&nbsp;Виктория, пав.&nbsp;55</li>
						<li>ул.&nbsp;Светланская, 173 (ост. Гайдамак, Центр «Здравие» имени&nbsp;Скворцова)</li>
						<li>ул.&nbsp;Русская, 54А, &#8470;&nbsp;186, дет.&nbsp;сад «Катюша» (садик&nbsp;Проши)</li>
						<li>ул.&nbsp;Светланская, д. 1,&nbsp;<span class="nowrap">Кросс-бар</span></li>
						<li><span class="nowrap">пр-кт</span> 100 лет Владивостоку 150 (ост. «Заря», Фитнес-клуб «Sun&nbsp;Live»)
						</li>
						<li>ул.&nbsp;Деревенская, 14 (ТЦ&nbsp;«Реми»&nbsp;&mdash; столик Кислородных&nbsp;коктелей)</li>
						<li>ул.&nbsp;Русская 70Б, магазин&nbsp;«Рекси»</li>
						<li>ул.&nbsp;Кирова 25Д&nbsp;в&nbsp;холле</li>
						<li>ул.&nbsp;Русская, 5, <span class="nowrap">мн-н</span> <span class="nowrap">В-Лазер</span>&nbsp;Интерьер
						</li>
						<li>ул.&nbsp;Русская, 46, магазин «Азбука мебели» 1 и&nbsp;2&nbsp;этаж</li>
						<li>ул.&nbsp;Русская 9б, магазин «Народные&nbsp;кухни»</li>
						<li>ул.&nbsp;Овчинникова, 2&nbsp;&mdash; точка раздачи заказов&nbsp;СП&nbsp;«Точка»</li>
						<li>ул.&nbsp;Кузнецова 8, а&nbsp;магазин&nbsp;Рублик</li>
						<li>ост. Дальзавод, магазин&nbsp;Пчелка</li>
						<li>Сеть детских магазинов «Счастливое&nbsp;детство»</li>
						<li>ул.&nbsp;<span class="nowrap">пр-кт</span> 100 лет <span class="nowrap">Вл-ку</span>,&nbsp;68а;
						</li>
						<li>ул.&nbsp;<span class="nowrap">пр-кт</span> Кр. знамени,&nbsp;86а;</li>
						<li>ул.&nbsp;Светланская, 106&nbsp;(ТЦ&nbsp;Авангард);</li>
						<li>ул.&nbsp;ул. Баляева,&nbsp;62;</li>
						<li>ул.&nbsp;Борисенко,&nbsp;96;</li>
						<li>ул&nbsp;Нейбута 87 (ТЦ «Семь ветров», аптека, 2&nbsp;этаж)</li>
						<li>ул&nbsp;Нейбута, 47 (ТЦ&nbsp;«<span class="nowrap">Домовой», аптека</span>)</li>
						<li>ул.&nbsp;Калинина,&nbsp;230.</li>
						<li>ул.&nbsp;Верхнепортовая 12б, эстетик клуб Елены&nbsp;Лапухиной</li>
					</ul>
				</div>
			</li>
			<li class="collapse-item">
				<a class="collapse-link" href="#">Уссурийск</a>

				<div class="collapse-content">
					<ul>
						<li>ул.&nbsp;Агеева <span class="nowrap">56-б</span> магазин «7&nbsp;ветров»</li>
						<li>ул.&nbsp;Некрасова 22 трест 34&nbsp;«Канцтовары»</li>
						<li>ул.&nbsp;Некрасова 187 «Торговый дом&nbsp;Артель»</li>
						<li>ул.&nbsp;Некрасова, 59&nbsp;магазин&nbsp;«Бэби»</li>
						<li>ул.&nbsp;Лазо, 1&nbsp;Магазин&nbsp;«Сталкер»</li>
						<li>ул.&nbsp;Краснознаменная 224 «б», База такси Восток, кафе&nbsp;ГОРОДОК</li>
						<li>ул.&nbsp;Некрасова 252&nbsp;магазин&nbsp;<span class="nowrap">В-Лазер</span>.</li>
						<li>ул.&nbsp;Фрунзе 42 Детский <span class="nowrap">салон-магазин</span>&nbsp;«Развивайка»</li>
						<li>ул.&nbsp;Калинина 48&nbsp;магазин&nbsp;«Сакура»</li>
						<li>ул.&nbsp;Некрасова 105&nbsp;магазин&nbsp;«Сакура»</li>
						<li>ул.&nbsp;Горького супермаркет&nbsp;«КВАРТАЛ»</li>
						<li>ул.&nbsp;Горького 68&nbsp;«ИДЕАЛ»</li>
						<li>ул.&nbsp;Суханова <span class="nowrap">55-б</span>&nbsp;«ЛЕДИВИЛЬ»</li>
						<li>ул.&nbsp;Некрасова 187 «Торговый дом&nbsp;Артель»</li>
						<li>ул.&nbsp;Некрасова 22 трест 34&nbsp;«Канцтовары»</li>
						<li>ул.&nbsp;Тургенева 3 «Железнодорожный&nbsp;техникум»</li>
						<li>ул.&nbsp;Некрасова 258 «База КПС 19&minus;20 ИП&nbsp;Карапетян&nbsp;С.С.</li>
						<li>ул.&nbsp;Ленина 113&nbsp;магазин&nbsp;«<span class="nowrap">В-Лазер</span>»</li>
						<li>ул.&nbsp;Ленинградская 52А магазин&nbsp;«Водолей»</li>
						<li>ул.&nbsp;Ленина 109&nbsp;магазин&nbsp;«Сталкер»</li>
						<li>ул.&nbsp;Садовая 4, сеть магазинов&nbsp;Пивохлёб</li>
						<li>ул.&nbsp;Советская 57, сеть магазинов&nbsp;Пивохлёб</li>
						<li>ул.&nbsp;Муравьева 71&nbsp;авторазборка.</li>
						<li>Сбербанк. Перекресток&nbsp;<span class="nowrap">Ленина-Чичерина</span></li>
						<li>Сбербанк. Октябрьская&nbsp;56</li>
						<li>ул.&nbsp;Некрасова, 64 кафе «Сытый&nbsp;боцман»</li>
						<li>ул.&nbsp;Чичерина, 101 кафе&nbsp;«Бургерная»</li>
						<li>ул.&nbsp;Некрасова 161, строительный супермаркет компания&nbsp;ИДЕАЛ</li>
						<li>ул.&nbsp;Садовая 12а, строительный магазин компания&nbsp;ИДЕАЛ</li>
						<li>ул.&nbsp;Новоникольское шоссе&nbsp;1б (магазин «ДальТоргСервис»)</li>
						<li>ул.&nbsp;Амурская 35&nbsp;&mdash; магазин&nbsp;«Цветы»</li>
						<li>ул.&nbsp;Плеханова 49&nbsp;&mdash; магазин «I&rsquo;Studio&nbsp;»</li>
						<li>ул.&nbsp;Некрасова 91 (магазин «Цветы&nbsp;от&nbsp;Валерии»)</li>
						<li>«Азбука мебели» Некрасова&nbsp;254</li>
						<li>«Азбука мебели»&nbsp;на&nbsp;Краснознаменной.</li>
						<li>Дом быта «Экспресс» 2 этаж. «Народные&nbsp;кухни»</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<h1 class="heading-red">Не оставайтесь равнодушными.<br>
		Вместе мы спасем этого чудного малыша!
	</h1>

	<div class="grey-box carousel">
		<a class="carousel-prev" href="#"></a>
		<a class="carousel-next" href="#"></a>
		<ul>
			<li>
				<img src="/images/image-1.jpg" alt="">
			</li>
			<li>
				<img src="/images/image-2.jpg" alt="">
			</li>
			<li>
				<img src="/images/image-3.jpg" alt="">
			</li>
		</ul>
	</div>
	<div class="grid links">
		<div class="grid__cell-2-to-3">
			<div class="link__border">
				<h3>Ссылки</h3>
				<ul class="social">
					<li><a class="social-fb" target="_blank" href="http://www.facebook.com/groups/435867689815160"></a>
					</li>
					<li><a class="social-od" target="_blank"
					       href="http://www.odnoklassniki.ru/group/51982246150239"></a>
					</li>
					<li><a class="social-vk" target="_blank" href="http://vk.com/prosha1"></a></li>
					<li><a class="social-vladmama" target="_blank"
					       href="http://vladmama.ru/forum/viewtopic.php?f=201&t=197447"></a></li>
					<li><a class="social-drom" target="_blank"
					       href="http://forums.drom.ru/vladivostok/t1151908308.html"></a></li>
				</ul>
				<p><a target="_blank" href="http://motodvd.ru/forum/viewtopic.php?f=34&t=3361">Мото-ДВ</a><br>
					<a target="_blank" href="http://www.ura-gorod.ru/forum/viewtopic.php?f=117&t=6288&p=249016">Форум
						Уссурийска</a><br>
					<a target="_blank" href="http://ussmama.ru/index.php?topic=1829.new">Уссурийский родительский
						форум</a><br>
					<a target="_blank"
					   href="http://www.ulov.ru/forum/showflat.php?Cat=0&Number=691893&page=0&vc=1&PHPSESSID=">Улов.ру</a><br>
					<a target="_blank" href="http://www.100sp.ru/purchase.php?pid=75347">Совместные покупки</a><br>
					<a target="_blank" href="http://helpneed.livejournal.com/468.html">ЖЖ</a></p>
			</div>
			<div class="link__border">
				<h3>Ютуб</h3>

				<p><a target="_blank" href="http://www.youtube.com/watch?v=I1fFYaCAhwk">http://www.youtube.com/watch?v=I1fFYaCAhwk</a><br>
					<a target="_blank" href="http://www.youtube.com/watch?v=UuFWTi6LogY">http://www.youtube.com/watch?v=UuFWTi6LogY</a><br>
					<a target="_blank" href="http://www.youtube.com/watch?v=OT2CS56KXYc">http://www.youtube.com/watch?v=OT2CS56KXYc</a>
				</p>
			</div>
			<div>
				<h3>Социальные кнопки</h3>

				<ul class="social-btns">
					<li>
						<div id="vk_like"></div>
						<script type="text/javascript">
							VK.Widgets.Like("vk_like", {type: "mini", verb: 1});
						</script>
					</li>
					<li>
						<script>!function (d, s, id) {
								var js, fjs = d.getElementsByTagName(s)[0];
								if (!d.getElementById(id)) {
									js = d.createElement(s);
									js.id = id;
									js.src = "//platform.twitter.com/widgets.js";
									fjs.parentNode.insertBefore(js, fjs);
								}
							}(document, "script", "twitter-wjs");</script>
						<div id="fb-root"></div>
						<script>(function (d, s, id) {
								var js, fjs = d.getElementsByTagName(s)[0];
								if (d.getElementById(id)) return;
								js = d.createElement(s);
								js.id = id;
								js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
								fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));</script>
						<div class="fb-like" data-send="false" data-layout="button_count" data-width="450"
						     data-show-faces="false" data-action="recommend"></div>
					</li>
					<li><a href="https://twitter.com/share" class="twitter-share-button" data-lang="ru">Твитнуть</a></li>
					<li>
						<div class="g-plusone" data-size="medium"></div>
						<script type="text/javascript">
							(function () {
								var po = document.createElement('script');
								po.type = 'text/javascript';
								po.async = true;
								po.src = 'https://apis.google.com/js/plusone.js';
								var s = document.getElementsByTagName('script')[0];
								s.parentNode.insertBefore(po, s);
							})();
						</script>
					</li>
					<li>
						<a target="_blank" class="mrc__plugin_uber_like_button" href="http://connect.mail.ru/share" data-mrc-config="{'cm' : '2', 'ck' : '2', 'sz' : '20', 'st' : '1', 'tp' : 'ok'}">Нравится</a>
						<script src="http://cdn.connect.mail.ru/js/loader.js" type="text/javascript" charset="UTF-8"></script>
					</li>
				</ul>


			</div>

		</div>
		<div class="grid__cell-1-to-3 social-widget">
			<script type="text/javascript" src="//vk.com/js/api/openapi.js?78"></script>
			<!-- VK Widget -->
			<div id="vk_groups"></div>
			<script type="text/javascript">
				VK.Widgets.Group("vk_groups", {mode: 2, width: "250", height: "300"}, 48667147);
			</script>
		</div>
	</div>
	</div>
{% endblock %}
