{% extends '@layouts/common.twig' %}

{% do this.setPageTitle('Помоги Прохору') %}

{% block content %}
	<div class="content">
	<div class="grey-box helping">
		{#{{ earningAmount }}#}
		<h1>На лечение Проши требуется собрать еще<br>
			<span><i>{{ App.numberFormatter.format('#,##0', needAmount - earnedAmount) }}</i> рублей</span> из {{ App.numberFormatter.format('#,##0', needAmount) }} рублей</h1>

		<p>Сумма ориентировочная. Мы надеемся, что Проша пойдет на поправку, и сумма если и будет меняться, то в меньшую
			сторону.</p>
		<ul class="collapse collapse_2-col">
			<li class="collapse-item">
				<a class="collapse-link" href="#">Информация по поступлениям средств</a>

				<div class="collapse-content">
					<ul>
						{% for earning in currentMonthEarnings %}
							<li>за {{ App.dateFormatter.format('d MMMM', earning.date)|lower }} собрано <b>{{ App.numberFormatter.format('#,##0', earning.amount) }}</b> {{ Yii.t('app', 'рубль|рубля|рублей', earning.amount) }}</li>
						{% endfor %}
						{% for earning in earningsGroupedByMonth %}
							<li>за {{ App.dateFormatter.format('LLLL', earning.date)|lower }} собрано <b>{{ App.numberFormatter.format('#,##0', earning.amount) }}</b> {{ Yii.t('app', 'рубль|рубля|рублей', earning.amount) }}</li>
						{% endfor %}
					</ul>
					<p>Подробные отчеты можно посмотреть <a href="http://vk.com/topic-48667147_27641757" target="_blank">в группе во Вконтакте</a></p>
				</div>
			</li>
		</ul>
	</div>
	<h2>Как помочь?</h2>

	<div class="grid bank-info">
		<div class="grid__cell-1-to-2">
			<div class="border-box">
				<h3>Сбербанк</h3>

				<p>Номер карты: 4276&thinsp;8500&thinsp;2015&thinsp;0626,<br>
					Писачев Максим Александрович</p>
			</div>
			<div class="border-box">
				<h3>Альфа-банк</h3>

				<p>ОАО «Альфа-банк»<br>
					Счет 40817810808600014643,<br>
					к/сч 30101810200000000593 в ОПЕРУ Московского ГТУ Цб РФ,<br>
					БИК 044525593, ИНН 7728168971<br>
					Писачев Максим Александрович.</p>
			</div>
			<div class="border-box">
				<h3>KOREA EXCHANGE BANK<br>(для перевода из-за границы)</h3>

				<p>Bank name: KOREA EXCHANGE BANK, SHINCHON BRANCH<br>
					Swift code: KOEXKRSE<br>
					Bank address: 121-806 NOGOSAN-DONG MAPO-GU SEOUL KOREA 107-1<br>
					Bank tel: 02)718-2281<br>
					Beneficiary name: PISACHEV MAKSIM<br>
					Beneficiary A/C: 650-008836-166 (долларовый счет)<br>
					620-218719-796 (счет в воннах)<br>
					Beneficiary address: Seoul, Sodeamoon-Gu, Changchon-Dong 53,#60</p>
			</div>
		</div>
		<div class="grid__cell-1-to-2">
			<div class="border-box">
				<h3>QIWI кошелек </h3>
				<p>908&thinsp;448-48-86</p>
			</div>
			{{ include('@common/qiwi-form.twig') }}
			<div class="border-box">
				<h3>Яндекс.Денги</h3>

				<p>410011747580674</p>

				<div class="ya-box">

				</div>
			</div>
			<div class="border-box">
				<h3>Номера телефонов Билайн</h3>

				<p>8&thinsp;967&thinsp;957-14-64<br>
					8&thinsp;967&thinsp;957-14-65<br>
					8&thinsp;967&thinsp;957-14-66<br>
					8&thinsp;967&thinsp;957-14-67
				</p>

				<p class="gray-color">На данные номера возможно перечислить деньги так&nbsp;же, как вы&nbsp;это делаете, пополняя
					баланс своего мобильного счета. Оплату можно провести через терминал, у&nbsp;мобильных стоек, в&nbsp;отделениях
					«Билайн» и&nbsp;там, где&nbsp;принимают платежи «Билайна». Эти&nbsp;деньги выводятся через банк&nbsp;наличными.</p>
			</div>
		</div>
	</div>
	<div class="banks">
		<h2>Копилки <span>(адреса)</span></h2>
		<ul class="collapse collapse_2-col">
			<li class="collapse-item">
				<a class="collapse-link" href="#">Владивосток</a>

				<div class="collapse-content">
					<ul>
						<li>ул.&nbsp;Бородинская 46/50 ТЦ&nbsp;Виктория пав. &#8470;&nbsp;55&nbsp;<span class="nowrap">Стафф-маркет</span></li>
						<li>Храм Андрея Первозванного (на&nbsp;подводной&nbsp;лодке)</li>
						<li>Успенсктй Храм&nbsp;(на&nbsp;Лазо)</li>
						<li>ул.&nbsp;Карбышева д. 20, Магазин&nbsp;автозапчастей</li>
						<li>ул.&nbsp;Ильичева д. 4, поликлиника&nbsp;&laquo;Аленка&raquo;</li>
						<li>ул.&nbsp;Некрасовская д. 90, поликлиника&nbsp;&laquo;Аленка&raquo;</li>
						<li>ул.&nbsp;Кузнецова, д. 70, поликлиника&nbsp;&laquo;Аленка&raquo;</li>
						<li>ул.&nbsp;Бородинская, д. 46, ТЦ&nbsp;Виктория, пав.&nbsp;55</li>
						<li>ул.&nbsp;Светланская, 173. ост. Гайдамак, Центр &laquo;Здравие&raquo; имени&nbsp;Скворцова</li>
						<li>ул.&nbsp;Русская, 54А, &#8470;&nbsp;186 дет.сад &laquo;Катюша&raquo;(садик&nbsp;Проши)</li>
						<li>ул.&nbsp;Светланская, д. 1,&nbsp;<span class="nowrap">Кросс-бар</span></li>
						<li><span class="nowrap">пр-кт</span> 100 лет Владивостоку 150 (ост. &laquo;Заря&raquo;) Фитнес-клуб &laquo;Sun&nbsp;Live&raquo;</li>
						<li>ул.&nbsp;Деревенская, 14 (Деревенская), ТЦ&nbsp;Реми&nbsp;&mdash; столик Кислородных&nbsp;коктелей</li>
						<li>ул.&nbsp;Русская 70Б, магазин&nbsp;&laquo;Рекси&raquo;</li>
						<li>ул.&nbsp;Кирова 25Д&nbsp;в&nbsp;холле</li>
						<li>ул.&nbsp;Русская, 5, <span class="nowrap">мн-н</span> <span class="nowrap">В-Лазер</span>&nbsp;Интерьер</li>
						<li>ул.&nbsp;Русская, 46, магазин &laquo;Азбука мебели&raquo; 1 и&nbsp;2&nbsp;этаж</li>
						<li>ул.&nbsp;Русская 9б, магазин &laquo;Народные&nbsp;кухни&raquo;</li>
						<li>ул.&nbsp;Овчинникова, 2&nbsp;&mdash; точка раздачи заказов&nbsp;СП&nbsp;&laquo;Точка&raquo;</li>
						<li>ул.&nbsp;Кузнецова 8, а&nbsp;магазин&nbsp;Рублик</li>
						<li>ост. Дальзавод, магазин&nbsp;Пчелка</li>
						<li>Сеть детских магазинов &laquo;Счастливое&nbsp;детство&raquo;</li>
						<li>ул.&nbsp;<span class="nowrap">пр-кт</span> 100 лет <span class="nowrap">Вл-ку</span>,&nbsp;68а;</li>
						<li>ул.&nbsp;<span class="nowrap">пр-кт</span> Кр. знамени,&nbsp;86а;</li>
						<li>ул.&nbsp;Светланская, 106&nbsp;(ТЦ&nbsp;Авангард);</li>
						<li>ул.&nbsp;ул. Баляева,&nbsp;62;</li>
						<li>ул.&nbsp;Борисенко,&nbsp;96;</li>
						<li>ул&nbsp;Нейбута <span class="nowrap">87-ТЦ</span> Семь <span class="nowrap">ветров-аптека</span> (2&nbsp;этаж)</li>
						<li>ул&nbsp;Нейбута, <span class="nowrap">47-ТЦ</span>&nbsp;<span class="nowrap">Домовой-аптека</span></li>
						<li>ул.&nbsp;Калинина,&nbsp;230.</li>
						<li>ул.&nbsp;Верхнепортовая 12б, эстетик клуб Елены&nbsp;Лапухиной</li>
					</ul>
				</div>
			</li>
			<li class="collapse-item">
				<a class="collapse-link" href="#">Уссурийск</a>

				<div class="collapse-content">
					<ul>
						<li>ул.&nbsp;Агеева <span class="nowrap">56-б</span> магазин &laquo;7&nbsp;ветров&raquo;</li>
						<li>ул.&nbsp;Некрасова 22 трест 34&nbsp;&laquo;Канцтовары&raquo;</li>
						<li>ул.&nbsp;Некрасова 187 &laquo;Торговый дом&nbsp;Артель&raquo;</li>
						<li>ул.&nbsp;Некрасова, 59&nbsp;магазин&nbsp;&laquo;Бэби&raquo;</li>
						<li>ул.&nbsp;Лазо, 1&nbsp;Магазин&nbsp;&laquo;Сталкер&raquo;</li>
						<li>ул.&nbsp;Краснознаменная 224 &laquo;б&raquo;, База такси Восток, кафе&nbsp;ГОРОДОК</li>
						<li>ул.&nbsp;Некрасова 252&nbsp;магазин&nbsp;<span class="nowrap">В-Лазер</span>.</li>
						<li>ул.&nbsp;Фрунзе 42 Детский <span class="nowrap">салон-магазин</span>&nbsp;&laquo;Развивайка&raquo;</li>
						<li>ул.&nbsp;Калинина 48&nbsp;магазин&nbsp;&laquo;Сакура&raquo;</li>
						<li>ул.&nbsp;Некрасова 105&nbsp;магазин&nbsp;&laquo;Сакура&raquo;</li>
						<li>ул.&nbsp;Горького супермаркет&nbsp;&laquo;КВАРТАЛ&raquo;</li>
						<li>ул.&nbsp;Горького 68&nbsp;&laquo;ИДЕАЛ&raquo;</li>
						<li>ул.&nbsp;Суханова <span class="nowrap">55-б</span>&nbsp;&laquo;ЛЕДИВИЛЬ&raquo;</li>
						<li>ул.&nbsp;Некрасова 187 &laquo;Торговый дом&nbsp;Артель&raquo;</li>
						<li>ул.&nbsp;Некрасова 22 трест 34&nbsp;&laquo;Канцтовары&raquo;</li>
						<li>ул.&nbsp;Тургенева 3 &laquo;Железнодорожный&nbsp;техникум&raquo;</li>
						<li>ул.&nbsp;Некрасова 258 &laquo;База КПС 19&minus;20 ИП&nbsp;Карапетян&nbsp;С.С.</li>
						<li>ул.&nbsp;Ленина 113&nbsp;магазин&nbsp;&bdquo;<span class="nowrap">В-Лазер</span>&ldquo;</li>
						<li>ул.&nbsp;Ленинградская 52А магазин&nbsp;&bdquo;Водолей&ldquo;</li>
						<li>ул.&nbsp;Ленина 109&nbsp;магазин&nbsp;&bdquo;Сталкер&ldquo;</li>
						<li>ул.&nbsp;Садовая 4, сеть магазинов&nbsp;Пивохлёб</li>
						<li>ул.&nbsp;Советская 57, сеть магазинов&nbsp;Пивохлёб</li>
						<li>ул.&nbsp;Муравьева 71&nbsp;авторазборка.</li>
						<li>Сбербанк. Перекресток&nbsp;<span class="nowrap">Ленина-Чичерина</span></li>
						<li>Сбербанк. Октябрьская&nbsp;56</li>
						<li>ул.&nbsp;Некрасова, 64 кафе &bdquo;Сытый&nbsp;боцман&ldquo;</li>
						<li>ул.&nbsp;Чичерина, 101 кафе&nbsp;&bdquo;Бургерная&ldquo;</li>
						<li>ул.&nbsp;Некрасова 161, строительный супермаркет компания&nbsp;ИДЕАЛ</li>
						<li>ул.&nbsp;Садовая 12а, строительный магазин компания&nbsp;ИДЕАЛ</li>
						<li>ул.&nbsp;Новоникольское шоссе&nbsp;1"б&raquo;-магазин"ДальТоргСервис&raquo;</li>
						<li>ул.&nbsp;Амурская 35&nbsp;&mdash; магазин&raquo;&nbsp;Цветы&raquo;</li>
						<li>ул.&nbsp;Плеханова 49&nbsp;&mdash; магазин&raquo; I&rsquo;Studio&nbsp;&raquo;</li>
						<li>ул.&nbsp;Некрасова 91- магазин"Цветы&nbsp;от&nbsp;Валерии&raquo;</li>
						<li>&laquo;Азбука мебели&raquo; Некрасова&nbsp;254</li>
						<li>&laquo;Азбука мебели&raquo;&nbsp;на&nbsp;Краснознаменной.</li>
						<li>Дом быта &laquo;Экспресс&raquo; 2 этаж. &laquo;Народные&nbsp;кухни&raquo;</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<h1 class="heading-red">Не оставайтесь равнодушными.<br>
		Вместе мы спасем этого чудного малыша!
	</h1>

	<div class="grey-box carousel">
		<a class="carousel-prev" href="#"></a>
		<a class="carousel-next" href="#"></a>
		<ul>
			<li>
				<img src="/images/image-1.png" alt="">
			</li>
			<li>
				<img src="/images/image-2.png" alt="">
			</li>
			<li>
				<img src="/images/image-3.png" alt="">
			</li>
		</ul>
	</div>
	<div class="grid links">
		<div class="grid__cell-2-to-3">
			<div class="link__border">
				<h3>Ссылки</h3>
				<ul class="social">
					<li><a class="social-fb" target="_blank" href="http://www.facebook.com/groups/435867689815160"></a></li>
					<li><a class="social-od" target="_blank" href="http://www.odnoklassniki.ru/group/51982246150239"></a>
					</li>
					<li><a class="social-vk" target="_blank" href="http://vk.com/prosha1"></a></li>
					<li><a class="social-vladmama" target="_blank"
						   href="http://vladmama.ru/forum/viewtopic.php?f=201&t=197447"></a></li>
					<li><a class="social-drom" target="_blank"
						   href="http://forums.drom.ru/vladivostok/t1151908308.html"></a></li>
				</ul>
				<p><a target="_blank" href="http://motodvd.ru/forum/viewtopic.php?f=34&t=3361">Мото-ДВ</a><br>
					<a target="_blank" href="http://www.ura-gorod.ru/forum/viewtopic.php?f=117&t=6288&p=249016">Форум
						Уссурийска</a><br>
					<a target="_blank" href="http://ussmama.ru/index.php?topic=1829.new">Уссурийский родительский
						форум</a><br>
					<a target="_blank"
					   href="http://www.ulov.ru/forum/showflat.php?Cat=0&Number=691893&page=0&vc=1&PHPSESSID=">Улов.ру</a><br>
					<a target="_blank" href="http://www.100sp.ru/purchase.php?pid=75347">Совместные покупки</a><br>
					<a target="_blank" href="http://helpneed.livejournal.com/468.html">ЖЖ</a></p>
			</div>
			<div>
				<h3>Ютуб</h3>

				<p><a target="_blank" href="http://www.youtube.com/watch?v=I1fFYaCAhwk">http://www.youtube.com/watch?v=I1fFYaCAhwk</a><br>
					<a target="_blank" href="http://www.youtube.com/watch?v=UuFWTi6LogY">http://www.youtube.com/watch?v=UuFWTi6LogY</a><br>
					<a target="_blank" href="http://www.youtube.com/watch?v=OT2CS56KXYc">http://www.youtube.com/watch?v=OT2CS56KXYc</a>
				</p>
			</div>
		</div>
		<div class="grid__cell-1-to-3 social-widget">
			<script type="text/javascript" src="//vk.com/js/api/openapi.js?78"></script>
			<!-- VK Widget -->
			<div id="vk_groups"></div>
			<script type="text/javascript">
				VK.Widgets.Group("vk_groups", {mode: 2, width: "250", height: "300"}, 48667147);
			</script>
		</div>
	</div>
	</div>
{% endblock %}
